/*
	id: breakerino-templates-checkout
	name: Breakerino Checkout
	group: templates
	type: partial
	version: 0.1.0
	created: 15/03/25
	updated: 15/03/25
*/

& {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.4rem;
	
	position: relative;
	
	container: checkout-wrapper / inline-size;
	
	@container checkout-container (min-width: 76.8rem) {
		grid-template-columns: 3fr 2fr;
	}
	
	&__left,
	&__right {
		container: checkout-column / inline-size;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}	
}