/*
	id: breakerino-checkout-methods
	name: Modules | breakerino Checkout | Methods
	group: templates
	type: partial
	version: 0.1.0
	created: 20/03/2025
	updated: 20/03/2025
*/

.brk-checkout-methods {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
	
	container: methods-wrapper / inline-size;
}