/*
	id: breakerino-checkout-order-summary
	name: Breakerino Checkout | Order Summary
	group: templates
	type: partial
	version: 0.1.0
	created: 20/03/2025
	updated: 20/03/2025
*/

.brk-ecommerce-checkout-section--summary {
	background: var(--color-primary-400);
	gap: var(--space-xl);
	position: sticky;
	top: calc(var(--wp-admin--admin-bar--height, 0px) + var(--space-3xl));
}

.brk-ecommerce-checkout-cart-items {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
	width: 100%;
}

.brk-ecommerce-checkout-subtotal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-sm);
	background: hsl(from var(--color-white) h s l / 0.45);
	padding: var(--space-sm) var(--space-lg);
	border-radius: var(--radius-2xl);
	
	&-label {
		font-size: var(--text-sm);
		line-height: var(--leading-tight);
		font-weight: var(--font-weight-semibold);
		color: var(--color-primary-700);
		
		@container checkout-column (min-width: 30rem)  {
			font-size: var(--text-md);
		}
	}
	
	&-value {
		font-size: var(--text-md);
		line-height: var(--leading-tight);
		font-weight: var(--font-weight-bold);
		color: var(--color-primary-700);
		
		@container checkout-column (min-width: 30rem)  {
			font-size: var(--text-lg);
		}
	}
}

// TODO
.brk-ecommerce-checkout-fees {
	display: flex;
	flex-direction: column;
	gap: var(--space-2xs);
	padding: var(--space-sm) 0;
	
	&:has(.brk-ecommerce-checkout-fee-item) {
		border-top: var(--border-thin) solid hsl(from var(--color-primary-900) h s l / 0.1);
		border-bottom: var(--border-thin) solid hsl(from var(--color-primary-900) h s l / 0.1);
	}
}

.brk-ecommerce-checkout-fee-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-xs);
	
	&-label {
		font-size: var(--text-sm);
		line-height: var(--leading-tight);
		font-weight: var(--font-weight-medium);
		color: var(--color-primary-700);	
	}
	
	&-value {
		font-size: var(--text-sm);
		line-height: var(--leading-tight);
		font-weight: var(--font-weight-regular);
		color: var(--color-primary-700);
	}
}

.brk-ecommerce-checkout-total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-2xs);
	background: var(--color-primary-300);
	padding: var(--space-xs) var(--space-xl);
	border-radius: calc(var(--radius-2xl) * 2);
	
	&-label {
		font-size: var(--text-sm);
		line-height: var(--leading-tight);
		font-weight: var(--font-weight-semibold);
		color: var(--color-primary-700);
		
		@container checkout-column (min-width: 30rem)  {
			font-size: var(--text-lg);
		}
	}
	
	&-value {
		display: flex;
		flex-direction: column;
		
		strong, strong > span {
			font-size: var(--text-xl);
			line-height: var(--leading-tight);
			font-weight: var(--font-weight-bold);
			color: var(--color-primary-700);
			text-align: right;
			
			@container checkout-column (min-width: 30rem)  {
				font-size: var(--text-2xl);
			}
		}
		
		small {
			font-size: var(--text-3xs);
			font-weight: var(--font-weight-regular);
			color: hsl(from var(--color-primary-700) h s l / 0.85);
			text-align: right;
			
			& > span {
				font-weight: var(--font-weight-regular);
			}
			
			.amount {
				font-weight: var(--font-weight-semibold);
			}
			
			@container checkout-column (min-width: 30rem)  {
				font-size: var(--text-2xs);
			}
		}
	}
}

.brk-ecommerce-checkout-term-and-conditions {
}

.brk-ecommerce-checkout-privacy-policy-text {
	font-size: var(--text-2xs);
	line-height: var(--leading-normal);
	color: hsl(from var(--color-primary-700) h s l / 0.9);
	
	a {
		font-weight: var(--font-weight-semibold);
		color: var(--color-primary-700);
		text-decoration: underline;
	}
	
	@container checkout-column (min-width: 30rem)  {
		font-size: var(--text-xs);
	}
}

.brk-ecommerce-checkout-place-order {
	display: flex;
	flex-direction: column;
	gap: var(--space-lg);
	
	&-button {
		--button-border-radius: calc(var(--radius-2xl) * 2);
		--button-padding-x: var(--space-xl);
		--button-padding-y: var(--space-xl);
		--button-text-size: var(--text-2xs);
		
		@container checkout-column (min-width: 23.75rem) {
			& {
				--button-text-size: var(--text-xs);
			}
		}
		
		@container checkout-column (min-width: 30rem) {
			& {
				--button-padding-x: var(--space-xl);
				--button-padding-y: var(--space-2xl);
				--button-text-size: var(--text-md);
			}
		}
 	}
}