/*
	id: autovec-checkout-section
	name: Modules | Autovec Checkout | Section
	group: templates
	type: partial
	version: 0.1.0
	created: 20/03/2025
	updated: 20/03/2025
*/

.brk-ecommerce-checkout-section {
	--padding: var(--space-lg); 
	--gap: var(--space-lg);
	
	position: relative;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding: var(--padding);
	border-radius: var(--radius-xl);
	background: var(--color-primary-400);
	transition: var(--transition-all);	
	
	@container checkout-wrapper (min-width: 48rem) {
		& {
			--padding: var(--space-2xl); 
			--gap: var(--space-xl);
		}
	}
	
	@container checkout-wrapper (min-width: 62rem) {
		& {
			--padding: var(--space-3xl);
		}
	}
	
	&-header {
		display: flex;
		align-items: center;	
	}
	
	&-heading {		
		font-size: calc(var(--text-2xl) * 0.85);
		font-family: var(--font-heading);
		font-weight: var(--font-weight-regular);
		line-height: var(--leading-snug);
		
		&__number {
			color: hsl(from var(--color-primary-600) h s l / 0.5);
			font-weight: inherit;
		}
		
		&__text {
			color: var(--color-primary-600);
		}
		
		@container checkout-wrapper (min-width: 36rem) {
			& {
				font-size: var(--text-2xl);
			}
		}
		
		@container checkout-wrapper (min-width: 48rem) {
			& {
				font-size: calc(var(--text-2xl) * 1.25);
			}
		}
	}
	
	&-content {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}
	
	&--collapsed:not(.brk-ecommerce-checkout-section--valid) {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
			
			width: 100%;
			height: 100%;
			
			border-radius: inherit;
			
			background: hsl(from var(--color-primary-950) h s l / 0.65);
			
			user-select: none;
			cursor: not-allowed;
		}
	}
	
	&:not(&--valid):not(&--collapsed) {
		animation: brk-glow-pulse 2s infinite ease-in-out;
	}
}