/*
	id: breakerino-ecommerce-cart
	name: Breakerino eCommerce | Checkout
	type: style
	conditions: is_cart
	version: 0.1.0
	created: 15/03/2025
	updated: 15/03/2025
*/

@import './components/loader';
@import './components/molecules/notices';
@import './components/organisms/table';

.brk-ecommerce-cart {
	container: cart-wrapper / inline-size;
	
	display: grid;
	gap: var(--space-xl);
	
	@container (min-width: 64rem) {
		gap: var(--space-3xl);
		grid-template-columns: 5fr 3fr;
	}
	
	&__left,
	&__right {
		container: cart-column / inline-size;
		height: fit-content;
	}
	
	&__right {
		position: sticky;
		top: calc(var(--wp-admin--admin-bar--height, 0px) + var(--space-xl));
		
		display: flex;
		flex-direction: column;
		gap: var(--space-xl);
		background: var(--color-primary-400);
		border-radius: var(--radius-xl);
		padding: var(--space-xl);
	}
	
	&-table {
		--table-padding-x: var(--space-xl);
		--table-row-gap: var(--space-sm);
		
		tr {
			grid-template-columns: initial;
			
			grid-template-areas:
				'cart-item-info cart-item-info'
				'cart-item-price cart-item-subtotal'
				'cart-item-quantity cart-item-remove'
				;
		}
		
		thead {
			display: none
		}
		
		@container cart-column (min-width: 40rem) {
			&, tr {
				--table-row-gap: 0;
				
				grid-template: initial;
				
				grid-template-columns: 
					1fr 			/* Product */
					4.5rem 		/* Price */
					7.75rem		/* Quantity */
					6rem			/* Subtotal */
					3rem;			/* Remove */
			}
			
			thead {
				display: grid;
			}
		}
	}
	
	@import './components/molecules/cart-item';
	@import './components/molecules/cart-subtotal';
}