/*
	id: breakerino-ecommerce-cart
	name: Breakerino eCommerce | Checkout
	type: style
	conditions: is_cart
	version: 0.1.0
	created: 15/03/2025
	updated: 15/03/2025
*/

@import './components/organisms/table';

.brk-ecommerce-cart {
	container: cart-wrapper / inline-size;
	
	display: grid;
	gap: var(--space-3xl);
	
	@container (min-width: 64rem) {
		grid-template-columns: 5fr 3fr;
	}
	
	&__left,
	&__right {
		container: cart-column / inline-size;
		height: fit-content;
	}
	
	&__right {
		position: sticky;
		top: calc(var(--wp-admin--admin-bar--height, 0px) + var(--space-xl));
		
		display: flex;
		flex-direction: column;
		gap: var(--space-xl);
		background: var(--color-primary-400);
		border-radius: var(--radius-xl);
		padding: var(--space-xl);
	}
	
	&-table {
		--table-padding-x: var(--space-xl);
		
		grid-template-columns: 
			1fr 			/* Product */
			5rem 			/* Price */
			7.75rem		/* Quantity */
			6rem			/* Subtotal */
			3rem;			/* Remove */
	}
	
	@import './components/molecules/cart-item';
	@import './components/molecules/cart-subtotal';
}